port ${PORT}
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
cluster-announce-ip 47.102.214.252
cluster-announce-port ${PORT}
cluster-announce-bus-port 1${PORT}
appendonly yes
protected-mode no
daemonize no

# 设置密码
masterauth passwd123
requirepass passwd123

# 设置过期通知
notify-keyspace-events "Ex"
